*.pem
*.kubeconfig
*.csr
*.json
01-config-files/encryption/encryption-config.yaml
01-config-files/downloads/cni-plugins-linux-amd64-v*.tgz
01-config-files/downloads/cri-containerd-*-linux-amd64.tar.gz
01-config-files/downloads/etcd-v*-linux-amd64.tar.gz
01-config-files/downloads/kube-apiserver
01-config-files/downloads/kube-controller-manager
01-config-files/downloads/kube-proxy
01-config-files/downloads/kube-scheduler
01-config-files/downloads/kubectl
01-config-files/downloads/kubelet
